*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif; 
}
.nav-bg{
    background: white;
}
.navbar-nav .nav-link{
    
    color:#000!important;
   font-weight: bold;
}


.navbar-toggler{
    outline: none!important;
}



.navbar-toggleable-md .navbar-collapse {         
    -webkit-justify-content: flex-end;
    justify-content: flex-end;  
}
/* section */
#hero{
    width: 100%;
    height:80vh;
    overflow: hidden;
    position: relative;
}
#hero:after{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 130%;
    height: 90%;
    background:linear-gradient(to right, rgba(110,155,39,0.6),rgba(20,54,1,0.4));
    background-image:url("./pexels-photo-8472136.jpeg");
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50) rotate(0deg);
}
#hero:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 130%;
    height: 96%;
    background: rgba(110,155,39,0.8);
    opacity: 0.3;
    z-index: 0;
    border-radius:0 0 50% 50%;
    transform: translateX(-50%)translateY(18PX)rotate(2deg);
}
#hero .carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top:0;
    left:0;
    right:0;
}
#hero h2{
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
}
#hero p{
    width: 80%;
    color: #fff;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
}
#hero .carousel-control-prev,
#hero .carousel-control-next{
    width: 10%;
    
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon{
    background: none;
    font-size: 48px;
     line-height: 1;
     width: auto;
     height: auto;
    
}
#hero .hero-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding:12px 32px;
    border-radius:50px;
    transition:0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    animation-delay: 0.5s;
    border: 2px solid #9ef596;
}
#hero .hero-btn:hover{
    background-color: #0a6801;
    color: #fff;
    text-decoration: none;
}
@media (min-width:1024px) {
    
    #hero p{
        width: 60%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next{
        width: 5%;

    }
    .navbar-nav{
        margin-left:550px;
    }

}
@media (max-width:768px) {
    #hero h2{
        font-size: 28px;
    }
    #hero:after{
        width: 180%;
        height: 95%;
        border-radius:0 0 50% 50%;
        transform: translateX(-50%) rotate(0deg);
    }
    #hero:before{
        top: 0;
        width: 180%;
        border-radius:  0 0 50% 50%;
        transform: translateX(-50%) translateY(20px)rotate(4deg);
    }
}
@media(max-width:575px){
#hero:after{
    left: 40%;
    top:0;
    width:200%;
    height:95%;
    border-radius:0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}
#hero:before{
    left: 50%;
    top:0;
    width: 200%;
    height: 94%;
    border-radius:0 0 50% 50%;
    transform: translateX(-50%) translateY(20px) rotate(4deg);
}
.story-box{
    height: 600px;
}
}

/* about us section*/
.tabs .nav-pills .nav-item{
    margin-bottom: 10px;
   

}
.tabs .nav-pills .nav-item .nav-link{
    background: #fff;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    border: 1px solid rgba(20,54,1,0.6);
    font-size: 20px;
    line-height: 30px;
}
.tabs .nav-pills .nav-item .nav-link span{
    color: #053001;
    font-size: 30px;
}

.tabs .nav-pills .nav-item .nav-link .active .span{
    color: #fff;
    padding: 0;
}
.tabs .tab-content .img{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}
.tabs .tab-content h3{
    font-weight: bold;

}
.tabs .tab-content h3 a{
    color: black;
    text-decoration: none;
}
/* stories*/
.story-box{
    padding: 15px;
    background: #c6f8bc;
    margin-bottom: 30px;
    position: relative;
    height: 570px;
}
.story-box h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    mix-blend-mode: difference;
}
.story-box p{
    font-size:  16px;
    font-weight: lght;
    color: #fff;
    mix-blend-mode: difference;
}
.story-icon{
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.story-icon i{
    margin-left: 150px;
    font-size: 50px;
    color: #fff;
    mix-blend-mode: difference;
}
.overlay{
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.overlay:before{
    transition: all 0.8s cubic-bezier(0.68,-0.55,0.265,1.55);
    content: '';
    width: 100%;
    height: 100%;
    background: #053001;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:10px 10px 10px 10px;
}
.overlay:hover:before{
    background: #053001;
    width: 100%;
    border-radius: 10px;
}
.project-container{
    background: #136d01;
    position: relative;
    overflow: hidden;
}
.donation{
    background: #7ff767;
    color: black;
    padding: 3px 3.5px;
    position: absolute;
    right: 0;
    top: 70%;
    transform: translateX(110%);
    transition: all .1s ease-in-out;
}
.donation:hover{
    color: black;
}
.project-container:hover .donation{
    transform:translateX(0%)
}
.project-container img{
    height: 300px;
    width: 300px;
}
.outline{
    display: inline-block;
    vertical-align: middle;
    transform:perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
}
.outline:before{
    content: '';
    position: absolute;
    border: #7ff677 solid 4px;
    top:4px;
    right: 4px;
    bottom: 4px;
    opacity: 0;
    transition-duration: 0.3s;
    transition-property: opacity;
}
.outline:hover:before,
.outline:focus:before,
.outline:active:before{
opacity: 1;
}
.grow{
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px)translateZ(0);
    box-shadow: 0 0 10px #7ff767;
    transition-duration: 0.3s;
    transition-property: box-shadow, transform ;
}
.grow:hover,
.grow:focus,
.grow:active{
    box-shadow: 0 10px 10px ;
}
/* teams */
.team{
    margin-bottom: 20px;
}
.p1{
    font-size: 21px;
}
small{
    color: gray;
    font-weight:bold;
}
#facebook{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(86,86,248);
    color: #fff;
    font-size: 20px;
    padding-top: 7px;
    display: inline-block;
}
#twitter{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(30,191,231);
    color: #fff;
    font-size: 20px;
    padding-top: 7px;
    display: inline-block;
    margin:0 10px;
}
.team-image {
    -webkit-box-shadow:0px 3px 25px -4px rgb(0,0,0,0.75);
    -moz-box-shadow:0px 3px 25px -4px rgb(0,0,0,0.75);
    box-shadow:0px 3px 25px -4px rgb(0,0,0,0.75);
    border-radius: 10px;
}
#printerest{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(251, 49, 83);
    color: #fff;
    font-size: 20px;
    padding-top: 7px;
    display: inline-block;
}
footer{
    position: relative;

    width: 100%;
height: auto;
padding: 50px 100px;
background: #053001;
}
footer .container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}
footer .container .sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width:50px;
    height: 2px;
 background: rgb(209, 190, 142);
   }
footer .container .sec p{
    color: #fff;
}
.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,50px);
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width:48px;
    height:48px;
    background: #053001;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;

}
.sci li a .fa{
color: #fff;
font-size: 20px;
}

.info{
    position: relative;

}
.info li{
  display:grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 10px;
    
}
.info li span:nth-child(1){
 color: #fff;
 font-size: 20px;
    
}
.info li span{
    color: #fff;
}
.info a{
    color:#f7f7f7;
    text-decoration: none;
}
.info a:hover{
    color: rgb(209, 190, 142);
}
.info li:hover{
    color: rgb(209, 190, 142);
}
.copyright{
    color: #fff;
    width: 100%;
    background:#7ff767;
    padding: 8px 100px;
    text-align: center;
    
}
@media (max-width:991px) {
    footer{
        padding: 40px;
    }
    footer .container{
       
        grid-template-columns: repeat(2,1fr);
        
    }
    .copyright{
        
        padding:8px 40px;
    }
    
}
@media (max-width:768px) {
   
    footer .container{
       
        grid-template-columns: repeat(1,1fr);
        
    }
    
}

